@page "{Id:int}"
@model MyPro.Presentation.Areas.Administrator.Pages.ProjectManagement.Edit
@{

}

<div class="card">
    <div class="card-header">
        <h2>Edit Article : @Model.EditModel.Title</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EditModel.Id"/>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="EditModel.Title" class="control-label">Title:</label>
                            <input asp-for="EditModel.Title" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="EditModel.ShortDescription" class="control-label">ShortDescription:</label>
                            <textarea asp-for="EditModel.ShortDescription" class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="EditModel.Image" class="control-label">Image:</label>
                            <input asp-for="EditModel.Image" class="form-control"/>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="EditModel.Content" class="control-label">Content:</label>
                            <textarea asp-for="EditModel.Content" class="form-control" rows="5"></textarea>
                        </div>
                    </div>

        
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-warning"/>
                        <a class="btn btn-dark" asp-page="./List" asp-area="Administrator">Back to list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>